
a{
    text-decoration: none !important;
}

/* box-noi-bat */
.row-header-title {
    height: 35px;
    margin: 8px 0;
}

.h1-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-left: -15px;
}

.ul-content-pho-bien {
    list-style-type: none;
    padding: 0;
}

.ul-content-pho-bien li {
    width: 15.6%;
    margin-right: 10px;
    margin-bottom: 1%;
}

.image-comic-tab {
    width: 100%;
    height: 220px;
    position: relative;
}

.image-comic-tab img {
    width: 100%;
    height: 100%;
}
h3.title-comic-tab{
 margin-bottom: 0;
}

.chapter-comic-tab a {
    font-size: 14px;
}
.chapter-comic-tab a:hover {
    color: #f1c40f;
    text-decoration: none;
}
.story-view{
    margin-left: 3px;
}
span.time-comic-tab {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 11px;
    background: #000000a6;
    color: #fff;
    overflow: hidden;
    line-height: 22px;
    height: 22px;
    text-align: center;
    padding: 0 2px;
    margin-top: -22px;
}

.title-comic-tab {
    display: block;
    padding: 0 2px;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-weight: 600;
}
.title-comic-tab:hover{
    color: #f1c40f;
    text-decoration: none !important;
}

.ul-content-pho-bien.row {
    margin-bottom: 0;
}
.more-btn{
    margin-left: -15px;
    margin-bottom: 20px;
}
.more-btn button{
    color: #f1f1f1;
    background-color: darkgray;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    padding: 5px;
    font-weight: 600;
}

/* top-bxh */
.col-top-bxh{
    padding-left: 0;
    padding-right: 0;
}

.top-bxh-row-header-title {
    height: 28px;
    margin-bottom: 10px;
}

.top-bxh-row-header h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: beige;
}

.row-top-bxh {
    display: flex;
    padding: 0;
    /*height: 66px;*/
    margin-bottom: 8px;
}


.number-top-bhx {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
    margin-right: 2px;
}

.comic-image-top-bxh {
    width: 100px;
    min-height: 120px;
    margin-bottom: 1em;
}

.comic-image-top-bxh img {
    width: 100%;
    height: 100%;
}

.desc-top-bxh {
    width: calc(100% - 131px);
    padding-left: 6px;
}

.desc-top-bxh h5 {
    display: block;
    padding: 3px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.desc-top-bxh p {
    font-size: 13px;
    display: block;
    padding: 3px;
    font-style: italic;
    margin: 0;
}

.top-bxh-row-header .row-top-bxh:nth-child(2) .number-top-bhx{
    background-color: #ffba1e;
}
.top-bxh-row-header .row-top-bxh:nth-child(3) .number-top-bhx{
    background: #7e4a4f;
    padding: 1px 8px;
}
.top-bxh-row-header .row-top-bxh:nth-child(4) .number-top-bhx{
    background: #4ed0e0;
    padding: 1px 7px;
}
.top-bxh-row-header .row-top-bxh:nth-child(5) .number-top-bhx{
    background: #434754;
    padding: 1px 7px;
}
.top-bxh-row-header .row-top-bxh:nth-child(6) .number-top-bhx{
    background: #8c8c8c;
    padding: 1px 7px;
}