* {
    font-family: 'Alegreya', serif;
}

.form-control:focus {
    border-color: goldenrod !important;
    box-shadow: none !important;
}

section {
    background: url('http://storage.googleapis.com/cheritz/msg/images/general/bg.png') no-repeat top center fixed;
    color: white;
    background-size: cover;
}

.wrapped-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100%;
}

.wrapped-card {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center !important;
}

.wrapped-card .card {
    border-radius: 1rem;
    background: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.card-image {
    border-radius: 1rem 0 0 1rem;
    max-width: 100%;
    height: 100%;
}

.card-details {
    display: flex;
    align-items: center;
}

.card-body {
    color: black;
    opacity: 1;
}

.fairytale-wrapper {
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.fairytale-wrapper span {
    font-weight: 700;
    margin-bottom: 0;
    font-size: calc(1.375rem + 1.5vw);
}

h5 {
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.form-outline {
    margin-bottom: 1.5rem
}

.form-outline label {
    font-size: 1.25rem;
    font-weight: 500;
}

.form-btn {
    padding-top: 0.25rem;
    margin-bottom: 1.5rem
}

.form-btn button {
    width: -webkit-fill-available;
}

.suggest {
    color: #393f81;
    font-weight: 500;
}

p a {
    color: #393f81;
}

.error-msg{
    color: darkred;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}