.navbar-brand img {
    width: 90%;
    height: 100%;
    padding: 2%;
}

.my-menu {
    padding: 8px 0;
}

a:hover {
    color: #f1c40f !important;
}

.my-menu .active {
    color: #f1c40f !important;
}

.nav-link {
    color: white !important;
}

.columns {
    column-count: 3;
    border: 0;
    background: #000;
    max-width: 800px;
    max-height: 800px;
    overflow: hidden;
}

.nav-item a {
    font-family: 'Alegreya SC', serif;
}

.dropdown-item {
    color: #f8f9fa;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: black;
}

.top-container {
    /* background-color: #292929; */
    background: linear-gradient(167deg, #000000, #434343);
}

.navbar-brand {
    margin-right: 0;
}

.right-side-nav a {
    font-size: 1.25rem;
    color: white;
}

.right-side-nav div {
    padding: 0 10px;
}

.wrapped-right-side-nav {
    align-items: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
}

.wrapped-right-side-nav .form-control {
    border: none;
    background: none;

}

.wrapped-right-side-nav .form-control:focus {
    box-shadow: none;
}

.wrapped-right-side-nav i {
    padding-left: 0.75rem;
}

.navbar-toggler {
    background: #fff;
}

#navbarSupportedContent {
    justify-content: space-between;
}