.go-back {
    background-color: #f1f1f1;
}

.page-header {
    margin: 0 1.2rem;
}

.wrap-body {
    align-items: flex-start;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    margin-left: calc(1.25rem * -1);
    margin-top: calc(1rem * -1);
}

.left-side {
    margin-left: 1.25rem;
    margin-top: 1rem;
    /*max-width: calc(100% - 1.25rem);*/
    /*flex: 2 2 30rem;*/
    min-width: 66%;
}

.content {
    background-color: #f1f1f1;
    border-radius: 0.5rem;

    margin: 1.5rem 0;
    padding: 1.25rem 1rem;
}

/* right-side */
.right-side {
    margin-left: 1.25rem;
    margin-top: 1rem;
    min-width: 30%;
}

.btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center
}

/* checkbox */
#checkbox-group-category {
    column-count: 3;
}

/* table */
.col-last {
    text-align: right;
    padding-right: 17px;
}

.actions {
    text-align: right;
}

.actions button {
    margin: 0 5px;
}

/* button save or delete */
.my-btn-submit {
    margin-left: 5rem;
}
